.about
  p
    margin 10px 0 30px 0
    position relative
  
  .desc
    width 85%
    text-align center
    margin 0 auto 0 auto
  
  h2
    width 95%
    margin 50px 0 20px 0
    font-family f_headline
    font-size 24px
    font-weight normal
    line-height 1.4em

.team
  @extend .container
  padding 0 0 0 0
  margin 60px 0 0 0

.team-member
  width 294px
  display inline-block
  margin 0 35px 35px 0
  
  .photo
    width 75px
    height 75px
    margin 0 10px 0 0
    display inline-block
    vertical-align middle
    background-size cover
    background-position center
    background-repeat no-repeat
    border-radius 50%
    overflow hidden
  
  .info
    max-width 205px
    display inline-block
    vertical-align middle
    font-size 14px
  
  p
    margin 0 0 0 0
  
  .name
    font-family 'PT Sans Caption'
    font-weight bold
    // margin 0 0 3px 0
  
  .role
    font-family f_Helvetica
    margin 0 0 5px 0
  
.team
  .twi, .vk, .fb, .inst
    width 18px
    height 16px
    margin 0 7px 2px 0
    vertical-align middle
    background-size 16px 16px
    background-position center
    // border-right 1px solid rgba(0, 0, 0, 0.3)
  
  .twi
    width 22px
    
  .fb
    width 10px
    height 12px
    background-size 12px 12px

.donate
  text-align center
  width 100%
  height 800px
  background-image url(../source/images/team/grandfa.png)
  background-size 300px
  background-position center bottom
  background-repeat no-repeat
  
  iframe
    vertical-align middle
    margin 0 25px 0 0
  
  img
    display inline-block
    vertical-align middle
  
