.grid-wrap
	width 1000px
	margin 20px auto 0 auto

.one, .one:visited
	width 300px
	padding 20px 20px 20px 20px
	margin 10px 10px 10px 10px
	border-bottom 0
	box-shadow 0px 1px 18px 0px rgba(0,0,0,0.06)
	display inline-block
	transition 0
	color rgba(0,0,0,1)
	
	&.plain
		height 150px
		
	&.photo
		height 150px
		background-size cover
		color: white

.one h1
	display inline
	border-bottom: 1px solid rgba(0,0,0,0.5)
	font-family f_headline
	font-size 24px
	line-height 32px

.one span
	margin 10px 0px 0px 0px
	display block
	font-family f_Default
	font-size 16px

.one:hover
	box-shadow 0px 1px 18px 0px rgba(0, 150, 209,0.12)

	& h1
		color c_Moloko
		border-color rgba(41,146,228, 0.5)
	
	& span
		color rgba(0,0,0,1)
