@import 'variables'
@import 'starty'

body
  width 100%
  font-family f_Helvetica
  background rgba(255, 255, 255, 1)
  font-size 18px
  line-height 20px
  

.container
	width 1000px
	margin 0 auto 0 auto
	padding 20px 20px 0px 20px
	
	/*@media mobile
		width 100%*/
			
// Шапка
.header-wrap
	width 100%
	position absolute
	top 0
	left 0
	z-index 2

header
	@extend .container
	

.logo,.logo:visited
	height 40px 
	margin 0 10px 0 0
	padding 10px 0 0 0 
	display inline-block
	vertical-align top
	//background-image url(../source/images/logo-all-white.png)
	//background-size 171px 44px
	border 0
	font-family 'Shadow'
	font-size 32px
	color white
	z-index 1
	
	&:hover
		border-color white
		color white

@import 'social-links'

.search
	width 200px
	height 44px
	padding 8px 12px 8px 42px
	position relative
	float right
	background transparent
	background-image url(../source/images/search.svg)
	background-size 18px
	background-position 10px center
	background-repeat no-repeat
	border 0
	opacity 0.5
	color white
	transition .2s
	
	&:focus
		opacity 0.9
		transition .2s
		
//Автопрефиксер не справляется, пришлось оставить
$searchPlaceHolder
	color:rgba(255, 255, 255, 0.6)

.search::-webkit-input-placeholder
	$searchPlaceHolder
.search::-moz-placeholder
	$searchPlaceHolder
.search :-moz-placeholder
	$searchPlaceHolder
.search :-ms-input-placeholder
  $searchPlaceHolder

//Тёмная шапка
.header-wrap.light
	padding 0 0 20px 0
	position relative
	border-bottom 1px solid rgba(0, 0, 0, 0.1)
	
	.logo,.logo:visited
		color molokoColor
		
		&:hover
			text-decoration: underline;
	
	.search
		color black
		background-image url(../source/images/search-dark.svg)
		
	$searchPlaceHolder
		color black
		
 //Фоторама 
.fotorama
	position relative

.fotorama__arr--prev
	margin -30px 0 0 30px
	background url(../source/images/prev.svg)

.fotorama__arr--next
	margin -30px 30px 0 0
	background url(../source/images/next.svg)
	
.fotorama__arr--prev,.fotorama__arr--next
	background-repeat no-repeat
	background-position center
	width 31px
	height 58px
	
// .fotorama__arr--prev:hover, .fotorama__arr--next:hover
// 	transform scaleY(0.7)



//Крутой материал
.cover
	position relative
	width 100%
	height 320px
	background rgba(54, 53, 53, 1)
	
.poster
	width 100%
	height 100%
	color white
	position relative
	background-size cover
	background-position center
	background-repeat no-repeat
	
	&:after
		content ' '
		width 100%
		height 100%
		position absolute
		top 0
		left 0
		background rgba(0,0,0,0.5)
		transition .2s
	
	& .poster-info
		width 1000px
		padding 100px 20px 0 20px
		margin 0 auto 0 auto	
		display block
		position relative
		z-index 1
		border 0
		
		&:hover h1
		  //color rgba(255, 255, 255, 0.7)
		  text-shadow 0px 0px 10px rgba(191, 226, 255, 0.6)
		  border-color rgba(255, 255, 255, 0.7)

  	& .image
		  width 180px
		  height 180px
		  margin 0px 20px 0px 40px
		  display inline-block
		  background-size contain
		  background-position top
		  background-repeat no-repeat
		  vertical-align middle

.caption
	width 700px
	padding 0 40px 0 0
	vertical-align middle
	display inline-block
	
	/*@media mobile
		width 100%*/
 
	& h1	
		margin 0 0 15px 0
		display inline
		border-bottom 1px solid rgba(255, 255, 255, 0.5)
		font-family f_headline
		font-size 36px
		line-height 1.2em
		color white
	
	& span
		margin 5px 0 0 0
		display block
		font-size 22px
		font-family f_Default 
		line-height 1.2em
		color white

// Новости
.news-wrap
	width 100%
	min-height 100px
	
.news
	@extend .container

.news-wrap.border
	padding 0 0 40px 0
	border-top 1px solid rgba(0, 0, 0, 0.1)

.news.col
	width 220px
	padding 0
	position absolute
	right 10px
	z-index 1
	background white
	
	
/* Скролье ** отключен
.scrollyeah__shadow_prev,.scrollyeah__shadow_next
	opacity 0.2
*/

.entry
	width 220px
	min-height 80px
	margin 0px 20px 0px 0px
	padding 5px 0px 10px 3px
	vertical-align top
	display inline-block
	font-size 16px
	
	span
	  font-size 10px
	  color rgba(0, 0, 0, 0.7)
	
	&:last-of-type
		margin 0 0 0 0

.smallcapitals 
	text-transform: uppercase
  font-size .88em
  letter-spacing .15em
  margin-right -.15em

//Сетка материалов
@import 'grid'

//Кнопка подгрузки материалов
.fetch 
	a
		width 960px
		display block
		margin 0 auto 40px auto
		padding 20px 20px 20px 20px
		text-align center
		border 1px solid rgba(0, 114, 186, 0.3)	
	
	a:hover
		border-color rgba(208,64,0,0.3)

/* Инстаграм ** временно отключен
.shots
	width 100%
	max-width 100%
	overflow hidden
	display none
	
	h3
		width 920px
		margin 0 auto 15px auto
		display none
		font-size 18px

#instapics
	width 110%
	height 96px
	
	div
	  width 96px
	  height 96px
	  display inline-block
	  position relative

#instapics a
	width 100%
	height 100%
	display inline-block
	background-size 96px
	background-position center
	border 0
	transition .2s ease
	
	&:hover
		transition .2s ease
		
	&:after
		content ' '
		width 100%
		height 100%
		position absolute
		top 0
		left 0
		background rgba(0, 0, 0, 0.5)
		//background rgba(255, 255, 255, 0.5)
		transition .2s ease
		
	&:hover:after
		background transparent
		transition .2s ease
 Конец отключенного инстаграма */

//Подвал
.footer-wrap
	width 100%
	min-height 120px
	background rgba(42, 50, 55, 0.03)
	box-shadow inset 0px 1px 18px 0px rgba(0, 0, 150, 0.06)	
	color rgba(0, 0, 0, 0.9)
	
	/*@media mobile
		height 150px*/

.footer
	@extend .container
	padding 40px 20px 0px 20px
	position relative
	font-size 16px
	background-size 400px
	background-repeat no-repeat
	background-position 350px 39%

.ask
	display inline-block
	float right
	
	/*@media mobile
		margin 20px 0 0 0*/

	.text
		display inline-block
		vertical-align middle
	
	.likely
		vertical-align middle
		margin 0 0 0 10px
	
	.likely__widget
		height 26px
		padding 2px 3px 2px 3px
		
		&:first-of-type
			margin 0 0 0 0
	
	.likely__button
		padding 1px 4px 1px 2px 
		
	.likely .likely__widget+.likely__widget
		margin 0 0 0 10px

.copyright
	display inline-block
	vertical-align middle

	span
		margin 0 15px 0 0
		color rgba(0, 0, 0, 0.6)
		
	p
		margin 10px 0 0 0
		font-size 14px
		color rgba(0, 0, 0, 0.6)
	
	ul
		display inline-block	

	ul li
		display inline-block
		margin 0px 15px 0px 0px

@import 'article'

@import 'light-header'

.front-page
	padding 40px 0 0 0
	
	.poster
		width 960px
		margin 0 auto 0 auto
		
		&:hover:after
			background rgba(0,0,0,0.2)
			transition .2s
		
		.poster-info
			padding 40px 0 40px 0

@import 'typo'
