@import 'variables'
@import 'starty'

body
  width 100%
  font-family f_Helvetica
  background rgba(255, 255, 255, 1)
  font-size 18px
  line-height 20px

//Шапка
.header-wrap
	width 100%
	position absolute
	top 0
	left 0
	z-index 2

header
	width 1000px
	margin 0 auto 0 auto
	padding 20px 20px 0px 20px

.logo,.logo:visited
	width 171px
	height 44px
	padding 10px 10px 10px 11px
	display inline-block
	vertical-align top
	//background-image url(../source/images/logo-all-white.png)
	//background-size 171px 44px
	border 0
	font-family 'Shadow'
	font-size 32px
	color white
	z-index 1
	
	&:hover
		border-color white
		color white

@import 'social-links'

.search
	width 200px
	height 44px
	padding 8px 12px 8px 42px
	position relative
	float right
	background transparent
	background-image url(../source/images/search.svg)
	background-size 18px
	background-position 10px center
	background-repeat no-repeat
	border 0
	opacity 0.5
	color white
	transition .2s
	
	&:focus
		opacity 0.9
		transition .2s

//Автопрефиксер не справляется, пришлось оставить
.search::-webkit-input-placeholder
	color:rgba(255, 255, 255, 0.6)
.search::-moz-placeholder
	color:rgba(255, 255, 255, 0.6)
.search :-moz-placeholder
	color:rgba(255, 255, 255, 0.6)
.search :-ms-input-placeholder
  color:rgba(255, 255, 255, 0.6)

/* Фоторама **отключена
.fotorama
	position relative

.fotorama__arr--prev
	margin 0 0 0 30px
	background url(../source/images/prev.svg)

.fotorama__arr--next
	margin 0 30px 0 0
	background url(../source/images/next.svg)
	
.fotorama__arr--prev,.fotorama__arr--next
	background-repeat no-repeat
	background-position center
	width 31px
	height 58px
	
.fotorama__arr--prev:hover, .fotorama__arr--next:hover
	transform scaleY(0.7)

.fotorama__nav-wrap
	position absolute
	bottom 10px
	width 960px
	padding-left 40px
	text-align left
*/

//Крутой материал
.cover
	position relative
	width 100%
	height 320px
	
.poster
	width 100%
	height 320px
	color white
	background-position center
	
	&:after
		content ' '
		width 100%
		height 100%
		position absolute
		top 0
		left 0
		background rgba(0,0,0,0.5)


.poster 
	.poster-info
		width 840px
		padding 100px 0px 0px 0px
		margin 0 auto 0 auto	
		display block
		position relative
		z-index 1
		border 0
		
		&:hover h1
		  //color rgba(255, 255, 255, 0.7)
		  text-shadow 0px 0px 10px rgba(191, 226, 255, 0.6)
		  border-color rgba(255, 255, 255, 0.7)

  .image
	  width 180px
	  height 180px
	  margin 0px 20px 0px 40px
	  display inline-block
	  background-size contain
	  background-position top
	  background-repeat no-repeat
	  vertical-align middle

.caption
	width 500px
	margin 0 40px 0 0
	vertical-align middle
	display inline-block
 
	& h1	
		margin 0px 0px 15px 0px
		display inline
		border-bottom 1px solid rgba(255, 255, 255, 0.5)
		font-family f_headline
		font-size 28px
		line-height 44px 
		color white
	
	& span
		margin 0 0 0 0
		display block
		font-size 24px
		font-family f_Default 
		line-height 1.3em
		letter-spacing 0.05em
		color white

// Новости
.news-wrap
	width 100%
	min-height 100px
	padding 20px 0px 10px 0px
	
.news
	width 960px
	margin auto auto auto auto
	
/* Скролье ** отключен
.scrollyeah__shadow_prev,.scrollyeah__shadow_next
	opacity 0.2
*/

.entry
	width 220px
	min-height 80px
	margin 0px 20px 0px 0px
	padding 5px 0px 10px 3px
	vertical-align top
	display inline-block
	font-size 16px
	
	span
	  font-size 10px
	  color rgba(0, 0, 0, 0.7)
	
	&:last-of-type
		margin 0 0 0 0

.smallcapitals 
	text-transform: uppercase
  font-size .88em
  letter-spacing .15em
  margin-right -.15em

//Сетка материалов
@import 'grid'

/* Инстаграм ** временно отключен
.shots
	width 100%
	max-width 100%
	overflow hidden
	display none
	
	h3
		width 920px
		margin 0 auto 15px auto
		display none
		font-size 18px

#instapics
	width 110%
	height 96px
	
	div
	  width 96px
	  height 96px
	  display inline-block
	  position relative

#instapics a
	width 100%
	height 100%
	display inline-block
	background-size 96px
	background-position center
	border 0
	transition .2s ease
	
	&:hover
		transition .2s ease
		
	&:after
		content ' '
		width 100%
		height 100%
		position absolute
		top 0
		left 0
		background rgba(0, 0, 0, 0.5)
		//background rgba(255, 255, 255, 0.5)
		transition .2s ease
		
	&:hover:after
		background transparent
		transition .2s ease
 Конец отключенного инстаграма */

//Подвал
.footer-wrap
	width 100%
	min-height 150px
	background rgba(42, 50, 55, 0.03)
	box-shadow inset 0px 1px 18px 0px rgba(0, 0, 150, 0.06)	
	color rgba(0, 0, 0, 0.9)

.footer
	width 1000px
	min-height 150px
	margin 0px auto 0px auto
	padding 40px 20px 0px 20px
	position relative
	font-size 16px
	//background-image url(../source/images/dead.png)
	background-size 400px
	background-repeat no-repeat
	background-position 350px 39%

.ask
	width 500px
	display inline-block

	.text
		display inline-block
		vertical-align top
	
	.likely
		vertical-align middle
		margin 10px 0 0 0
	
	.likely__widget
		height 26px
		padding 2px 3px 2px 3px
		
		&:first-of-type
			margin 0 0 0 0
	
	.likely__button
		padding 1px 4px 1px 2px 
		
	.likely .likely__widget+.likely__widget
		margin 0 0 0 10px

.copyright
	display inline-block
	vertical-align top
	float right

	span
		margin 0 15px 0 0
		color rgba(0, 0, 0, 0.6)
		
	p
		margin 10px 0 0 0
		font-size 14px
		color rgba(0, 0, 0, 0.6)
	
	ul
		display inline-block	

	ul li
		display inline-block
		margin 0px 15px 0px 0px


@import 'typo'
