.cover.light-header
	height auto
	min-height 150px
	background white
	margin 20px 0 -10px 0

.poster.light-header
	height auto
	min-height 100px

	&:after
		display none

.poster-info.light-header
	width 1000px
	height auto
	min-height 100px
	padding 20px 20px 0 20px
	color black

	& .caption
		width 650px

	& .caption h1
		color black

	& .caption span
		color black

	& .infobar
		position relative
		margin 15px 0 0 0 

		& .views
			background-image url(../source/images/eye-dark.svg)

		& .likely
			float none
