.social
	width 40px
	height 40px
	padding 0
	margin 0
	display inline-block
	position relative
	background-repeat no-repeat
	border 0
	opacity 0.7
	
.social:hover 
	opacity 1
	transition .1s

.twi, .twi:visited
	@extend .social
	background-image url(../source/images/twi.svg)
	background-position center
	
	&:hover
		@extend .social:hover
		//background-color rgba(37, 174, 243, 1)

	  
.vk, .vk:visited
	@extend .social
	background-image url(../source/images/vk.svg)
	background-position center
	
	&:hover
		@extend .social:hover
		//background-color rgba(79, 116, 167, 1)

		
.fb, .fb:visited
	@extend .social
	background-image url(../source/images/fb.svg)
	background-position center
	
	&:hover
		@extend .social:hover
		//background-color rgba(59, 88, 157, 1)

  
.inst, .inst:visited
	@extend .social
	background-image url(../source/images/inst.svg)
	background-position center
		
	&:hover
		@extend .social:hover
		//background-color rgba(160, 103, 79, 1)
