.social
	width 44px
	height 40px
	display inline-block
	//border 1px solid rgba(255,255,255,0.6)
	border 0
	background-repeat no-repeat
	position relative
	fill red
	border-left 0
	padding 0
	margin 0
	opacity 0.7
	
.social:hover 
	border-left 0
	opacity 1
	transition .1s

.twi, .twi:visited
	@extend .social
	background-image url(../source/images/twi.svg)
	background-position center
	
	&:hover
		@extend .social:hover
		//background-color rgba(37, 174, 243, 1)
		//border-color rgba(255, 255, 255, 0.3)

	  
.vk, .vk:visited
	@extend .social
	background-image url(../source/images/vk.svg)
	background-position center
	
	&:hover
		@extend .social:hover
		//background-color rgba(79, 116, 167, 1)
		//border-color rgba(255, 255, 255, 0.3)

		
.fb, .fb:visited
	@extend .social
	background-image url(../source/images/fb.svg)
	background-position center
	
	&:hover
		@extend .social:hover
		//background-color rgba(59, 88, 157, 1)
		//border-color rgba(255, 255, 255, 0.3)

  
.inst, .inst:visited
	@extend .social
	background-image url(../source/images/inst.svg)
	background-position center
		
	&:hover
		@extend .social:hover
		//background-color rgba(160, 103, 79, 1)
		//border-color rgba(255, 255, 255, 0.3)
