// Шрифты
f_Helvetica = f_Default = 'Helvetica Neue', Arial, sans-serif
f_headline = 'PT Sans Caption'
f_text = 'Gregor', Georgia
size_Default = 18px

// Цвета
c_Gray = rgba(0, 0, 0, .5)
c_Moloko = rgba(41,146,228, 1)

// Адаптив
resp_Test = 'screen and (max-width: 3000px)'
