* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}
input,
textarea,
button {
  outline: none;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 18px;
}
a {
  padding-top: 0.6em;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  width: 100%;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background: #fff;
  font-size: 18px;
  line-height: 20px;
}
.header-wrap {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
header {
  width: 1000px;
  margin: 0 auto 0 auto;
  padding: 20px 20px 0px 20px;
}
.logo {
  width: 171px;
  height: 44px;
  display: inline-block;
  background-image: url("../source/images/logo-all-white.png");
  background-size: 171px 44px;
  border: 0;
  z-index: 1;
}
.social,
.twitter,
.twitter:visited,
.vkontakte,
.vkontakte:visited,
.facebook,
.facebook:visited,
.instagram,
.instagram:visited {
  width: 44px;
  height: 44px;
  display: inline-block;
  background-image: url("../source/images/social-links.png");
  border: 1px solid rgba(255,255,255,0.6);
  border-left: 0;
  padding: 0;
  margin: 0;
  opacity: 0.7;
}
.social:hover,
.twitter:hover,
.twitter:visited:hover,
.vkontakte:hover,
.vkontakte:visited:hover,
.facebook:hover,
.facebook:visited:hover,
.instagram:hover,
.instagram:visited:hover {
  border-left: 0;
  opacity: 1;
  -webkit-transition: 0.1s;
          transition: 0.1s;
}
.twitter,
.twitter:visited {
  background-position: -45px 0px;
}
.twitter:hover,
.twitter:visited:hover {
  background-color: #25aef3;
  border-color: rgba(255,255,255,0.3);
}
.vkontakte,
.vkontakte:visited {
  background-position: 0px 0px;
}
.vkontakte:hover,
.vkontakte:visited:hover {
  background-color: #4f74a7;
  border-color: rgba(255,255,255,0.3);
}
.facebook,
.facebook:visited {
  background-position: -89px 0px;
}
.facebook:hover,
.facebook:visited:hover {
  background-color: #3b589d;
  border-color: rgba(255,255,255,0.3);
}
.instagram,
.instagram:visited {
  background-position: -132px 0px;
}
.instagram:hover,
.instagram:visited:hover {
  background-color: #a0674f;
  bordedr-color: #a0674f;
  border-color: rgba(255,255,255,0.3);
}
.search {
  width: 200px;
  height: 44px;
  padding: 8px 12px 8px 42px;
  position: relative;
  float: right;
  background: transparent;
  background-image: url("../source/images/search.png");
  background-size: 18px;
  background-position: 10px center;
  background-repeat: no-repeat;
  border: 1px solid #fff;
  opacity: 0.5;
  color: #fff;
}
.search:focus {
  opacity: 0.9;
}
.search::-webkit-input-placeholder,
.search::-moz-placeholder,
.search:-moz-placeholder,
.search:-ms-input-placeholder {
  color: rgba(255,255,255,0.6);
}
.poster {
  width: 100%;
  height: 300px;
  color: #fff;
}
.poster .poster-info {
  width: 840px;
  padding: 100px 0px 0px 0px;
  margin: 0 auto 0 auto;
  display: block;
}
.poster span {
  margin: 20px 0px 0px 0px;
  display: block;
  color: #fff;
}
.poster:hover h1 {
  color: rgba(255,255,255,0.7);
  border-color: rgba(255,255,255,0.3);
}
.poster .image {
  width: 200px;
  height: 200px;
  margin: 0px 0px 0px 40px;
  display: inline-block;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
.caption {
  width: 500px;
  margin: 30px 40px 0px 20px;
  vertical-align: top;
  display: inline-block;
}
.caption h1 {
  margin: 0px 0px 25px 0px;
  display: inline;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  font-family: 'PT Sans Caption';
  font-size: 36px;
  line-height: 44px;
  color: #fff;
}
.caption span {
  font-size: 18px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
.news {
  width: 100%;
  min-height: 100px;
  padding: 10px 0px 10px 10px;
}
.scrollyeah {
  width: 940px;
  margin: auto auto auto auto;
}
.scrollyeah__shadow_prev,
.scrollyeah__shadow_next {
  opacity: 0.2;
}
.entry {
  max-width: 320px;
  min-height: 80px;
  margin: 0px 20px 0px 0px;
  padding: 5px 0px 10px 3px;
  vertical-align: top;
  display: inline-block;
  font-size: 16px;
}
.entry span {
  font-size: 10px;
  color: rgba(0,0,0,0.5);
}
.smallcapitals {
  text-transform: uppercase;
  font-size: 0.88em;
  letter-spacing: 0.15em;
  margin-right: -0.15em;
}
.grid-wrap {
  width: 1000px;
  margin: 20px auto 40px auto;
  padding: 0px 0px 0px 20px;
}
.one,
.one:visited,
.plain {
  width: 300px;
  height: 150px;
  margin: 15px 0px 15px 0px;
  padding: 20px 20px 20px 20px;
  display: inline-block;
  overflow: hidden;
  box-shadow: 0px 1px 18px 0px rgba(0,0,0,0.06);
  border-bottom: 0;
  color: #000;
  z-index: 1;
}
.one h1 {
  display: inline;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  font-family: 'PT Sans Caption';
  font-size: 24px;
  line-height: 32px;
  color: #000;
}
.one span {
  margin: 10px 0px 0px 0px;
  display: inline-block;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  color: #000;
}
.one:hover h1 {
  color: #2992e4;
  border-color: rgba(41,146,228,0.5);
}
.one:hover span {
  color: #000;
}
.one:hover:after {
  content: ' ';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-linear-gradient(top, rgba(41,146,228,0.1), rgba(255,255,0,0));
  background: linear-gradient(to bottom, rgba(41,146,228,0.1), rgba(255,255,0,0));
}
.illustration {
  background-position: right bottom;
  background-size: 100px;
  background-repeat: no-repeat;
}
.illustration span {
  width: 200px;
}
.basketball {
  background-image: url("http://i.picasion.com/sp/79/SHS/1.gif");
}
.basketball:hover {
  background-image: url("https://d13yacurqjgara.cloudfront.net/users/99875/screenshots/1791962/chris-paul-dribbble.gif");
}
.science {
  background-image: url("http://i.picasion.com/sp/79/SI6/2.gif");
}
.science:hover {
  background-image: url("http://cdn.makeagif.com/media/1-17-2015/mL7RYq.gif");
}
.cashflow {
  background-image: url("http://i.picasion.com/sp/79/SHZ/0.gif");
}
.cashflow:hover {
  background-image: url("https://d13yacurqjgara.cloudfront.net/users/99875/screenshots/1433198/mark-and-john.gif");
}
.full {
  height: 330px;
  padding: 200px 20px 20px 20px;
  background-size: 290px;
  background-position: center top;
}
.full:hover h1 {
  z-index: 1;
}
.photo {
  background-size: cover;
  position: relative;
}
.photo h1,
.photo span {
  position: relative;
  z-index: 1;
  color: #fff;
}
.photo h1 {
  border-color: rgba(255,255,255,0.5);
}
.photo:after {
  content: ' ';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
}
.photo:hover h1,
.photo:hover span {
  color: #fff;
}
.photo:hover h1 {
  border-color: rgba(255,255,255,0.3);
  text-shadow: 0px 0px 10px rgba(191,226,255,0.6);
}
.photo:hover:after {
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.4), rgba(255,255,0,0));
  background: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(255,255,0,0));
}
.big {
  height: 330px;
}
.big:after {
  background: -webkit-linear-gradient(rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.6) 20%, rgba(0,0,0,0) 100%);
  background: linear-gradient(rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.6) 20%, rgba(0,0,0,0) 100%);
}
.big:hover:after {
  background: -webkit-linear-gradient(rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.2) 20%, rgba(0,0,0,0) 100%);
  background: linear-gradient(rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.2) 20%, rgba(0,0,0,0) 100%);
}
.footer-wrap {
  width: 100%;
  height: 120px;
  background: #f5f5f5;
}
.footer {
  width: 1000px;
  height: 120px;
  margin: 0px auto 0px auto;
  padding: 40px 40px 0px 40px;
  font-size: 16px;
}
.footer ul li {
  display: inline-block;
  margin: 0px 15px 0px 0px;
}
a,
a:visited {
  color: #0072ba;
  text-decoration: none;
  border-bottom: 1px solid rgba(0,114,186,0.5);
  -webkit-transition: 0.5s ease;
          transition: 0.5s ease;
}
a:hover,
a:visited:hover {
  color: #d04000;
  border-color: rgba(208,64,0,0.5);
  -webkit-transition: 0s ease;
          transition: 0s ease;
}
a.dark,
a:visited.dark {
  color: #000;
  border-bottom: 1px solid rgba(0,0,0,0.5);
}
a.dark:hover,
a:visited.dark:hover {
  color: #d04000;
  border-color: rgba(208,64,0,0.5);
  -webkit-transition: 0s ease;
          transition: 0s ease;
}
a.lite,
a:visited.lite {
  color: #fff;
  border-bottom: 1px solid rgba(255,255,255,0.5);
}
a.lite:hover,
a:visited.lite:hover {
  color: #f2f201;
  border-color: rgba(242,242,1,0.5);
  -webkit-transition: 0s ease;
          transition: 0s ease;
}
