* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}
input,
textarea,
button {
  outline: none;
  font-family: f_Default;
}
a {
  padding-top: 0.6em;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background: #fff;
  font-size: 14px;
  line-height: 20px;
}
a,
a:visited {
  color: #0072ba;
  text-decoration: none;
  border-bottom: 1px solid rgba(0,114,186,0.5);
  -webkit-transition: 0.5s ease;
          transition: 0.5s ease;
}
a:hover,
a:visited:hover {
  color: #d04000;
  border-color: rgba(208,64,0,0.5);
  -webkit-transition: 0s ease;
          transition: 0s ease;
}
a.dark,
a:visited.dark {
  color: #000;
  border-bottom: 1px solid rgba(0,0,0,0.5);
}
a.dark:hover,
a:visited.dark:hover {
  color: #d04000;
  border-color: rgba(208,64,0,0.5);
  -webkit-transition: 0s ease;
          transition: 0s ease;
}
a.lite,
a:visited.lite {
  color: #fff;
  border-bottom: 1px solid rgba(255,255,255,0.5);
}
a.lite:hover,
a:visited.lite:hover {
  color: #f2f201;
  border-color: rgba(242,242,1,0.5);
  -webkit-transition: 0s ease;
          transition: 0s ease;
}
