* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}
input,
textarea,
button {
  outline: none;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 18px;
}
a {
  padding-top: 0.6em;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  width: 100%;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background: #fff;
  font-size: 18px;
  line-height: 20px;
}
.header-wrap {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
header {
  width: 1000px;
  margin: 0 auto 0 auto;
  padding: 20px 20px 0px 20px;
}
.logo,
.logo:visited {
  width: 171px;
  height: 44px;
  padding: 10px 10px 10px 11px;
  display: inline-block;
  vertical-align: top;
  border: 0;
  font-family: 'Shadow';
  font-size: 32px;
  color: #fff;
  z-index: 1;
}
.logo:hover,
.logo:visited:hover {
  border-color: #fff;
  color: #fff;
}
.social,
.twi,
.twi:visited,
.vk,
.vk:visited,
.fb,
.fb:visited,
.inst,
.inst:visited {
  width: 44px;
  height: 40px;
  padding: 0;
  margin: 0;
  display: inline-block;
  position: relative;
  background-repeat: no-repeat;
  border: 0;
  opacity: 0.7;
}
.social:hover,
.twi:hover,
.twi:visited:hover,
.vk:hover,
.vk:visited:hover,
.fb:hover,
.fb:visited:hover,
.inst:hover,
.inst:visited:hover {
  opacity: 1;
  transition: 0.1s;
}
.twi,
.twi:visited {
  background-image: url("../source/images/twi.svg");
  background-position: center;
}
.vk,
.vk:visited {
  background-image: url("../source/images/vk.svg");
  background-position: center;
}
.fb,
.fb:visited {
  background-image: url("../source/images/fb.svg");
  background-position: center;
}
.inst,
.inst:visited {
  background-image: url("../source/images/inst.svg");
  background-position: center;
}
.search {
  width: 200px;
  height: 44px;
  padding: 8px 12px 8px 42px;
  position: relative;
  float: right;
  background: transparent;
  background-image: url("../source/images/search.svg");
  background-size: 18px;
  background-position: 10px center;
  background-repeat: no-repeat;
  border: 0;
  opacity: 0.5;
  color: #fff;
  transition: 0.2s;
}
.search:focus {
  opacity: 0.9;
  transition: 0.2s;
}
.search::-webkit-input-placeholder {
  color: rgba(255,255,255,0.6);
}
.search::-moz-placeholder {
  color: rgba(255,255,255,0.6);
}
.search :-moz-placeholder {
  color: rgba(255,255,255,0.6);
}
.search :-ms-input-placeholder {
  color: rgba(255,255,255,0.6);
}
/* Фоторама **отключена
.fotorama
	position relative

.fotorama__arr--prev
	margin 0 0 0 30px
	background url(../source/images/prev.svg)

.fotorama__arr--next
	margin 0 30px 0 0
	background url(../source/images/next.svg)
	
.fotorama__arr--prev,.fotorama__arr--next
	background-repeat no-repeat
	background-position center
	width 31px
	height 58px
	
.fotorama__arr--prev:hover, .fotorama__arr--next:hover
	transform scaleY(0.7)

.fotorama__nav-wrap
	position absolute
	bottom 10px
	width 960px
	padding-left 40px
	text-align left
*/
.cover {
  position: relative;
  width: 100%;
  height: 320px;
}
.poster {
  width: 100%;
  height: 320px;
  color: #fff;
  background-position: center;
}
.poster:after {
  content: ' ';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
}
.poster .poster-info {
  width: 840px;
  padding: 100px 0px 0px 0px;
  margin: 0 auto 0 auto;
  display: block;
  position: relative;
  z-index: 1;
  border: 0;
}
.poster .poster-info:hover h1 {
  text-shadow: 0px 0px 10px rgba(191,226,255,0.6);
  border-color: rgba(255,255,255,0.7);
}
.poster .poster-info .image {
  width: 180px;
  height: 180px;
  margin: 0px 20px 0px 40px;
  display: inline-block;
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  vertical-align: middle;
}
.caption {
  width: 500px;
  margin: 0 40px 0 0;
  vertical-align: middle;
  display: inline-block;
}
.caption h1 {
  margin: 0px 0px 15px 0px;
  display: inline;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  font-family: 'PT Sans Caption';
  font-size: 28px;
  line-height: 44px;
  color: #fff;
}
.caption span {
  margin: 0 0 0 0;
  display: block;
  font-size: 24px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.3em;
  letter-spacing: 0.05em;
  color: #fff;
}
.news-wrap {
  width: 100%;
  min-height: 100px;
  padding: 20px 0px 10px 0px;
}
.news {
  width: 960px;
  margin: auto auto auto auto;
}
/* Скролье ** отключен
.scrollyeah__shadow_prev,.scrollyeah__shadow_next
	opacity 0.2
*/
.entry {
  width: 220px;
  min-height: 80px;
  margin: 0px 20px 0px 0px;
  padding: 5px 0px 10px 3px;
  vertical-align: top;
  display: inline-block;
  font-size: 16px;
}
.entry span {
  font-size: 10px;
  color: rgba(0,0,0,0.7);
}
.entry:last-of-type {
  margin: 0 0 0 0;
}
.smallcapitals {
  text-transform: uppercase;
  font-size: 0.88em;
  letter-spacing: 0.15em;
  margin-right: -0.15em;
}
.grid-wrap {
  width: 1000px;
  min-height: 100%;
  margin: 20px auto 40px auto;
  padding: 0px 0px 0px 20px;
}
.one,
.one:visited {
  width: 300px;
  height: 150px;
  margin: 15px 0px 15px 0px;
  padding: 20px 30px 20px 20px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  box-shadow: 0px 1px 18px 0px rgba(0,0,0,0.06);
  border-bottom: 0;
  color: #000;
  z-index: 1;
}
.one h1,
.one:visited h1 {
  display: inline;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  font-family: 'PT Sans Caption';
  font-size: 24px;
  line-height: 32px;
  color: #000;
}
.one span,
.one:visited span {
  margin: 10px 0px 0px 0px;
  display: inline-block;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  color: #000;
}
.one:hover {
  box-shadow: 0px 1px 18px 0px rgba(0,0,0,0.08);
}
.one:hover h1 {
  color: #d04000;
  border-color: rgba(218,64,0,0.3);
}
.one:hover span {
  color: #000;
}
.one.illustration {
  padding: 20px 90px 20px 20px;
  background-position: 100% bottom;
  background-size: 95px;
  background-repeat: no-repeat;
}
.one.photo {
  background-size: cover;
  position: relative;
  -webkit-font-smoothing: antialiased;
}
.one.photo h1,
.one.photo span {
  position: relative;
  z-index: 1;
  color: #fff;
}
.one.photo h1 {
  border-color: rgba(255,255,255,0.3);
}
.one.photo:after {
  content: ' ';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  transition: 0.2s;
}
.one.photo:hover h1,
.one.photo:hover span {
  color: #fff;
}
.one.photo:hover h1 {
  border-color: rgba(255,255,255,0.7);
  text-shadow: 0px 0px 10px rgba(191,226,255,0.6);
}
.one.photo:hover:after {
  opacity: 0.5;
  transition: 0.2s;
}
.one.photo.big {
  height: 330px;
}
.one.photo.big:after {
  background: linear-gradient(rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.6) 20%, rgba(0,0,0,0) 100%);
  transition: 0.2s;
}
.one.photo.big:hover:after {
  opacity: 0.5;
  transition: 0.2s;
}
/* Инстаграм ** временно отключен
.shots
	width 100%
	max-width 100%
	overflow hidden
	display none
	
	h3
		width 920px
		margin 0 auto 15px auto
		display none
		font-size 18px

#instapics
	width 110%
	height 96px
	
	div
	  width 96px
	  height 96px
	  display inline-block
	  position relative

#instapics a
	width 100%
	height 100%
	display inline-block
	background-size 96px
	background-position center
	border 0
	transition .2s ease
	
	&:hover
		transition .2s ease
		
	&:after
		content ' '
		width 100%
		height 100%
		position absolute
		top 0
		left 0
		background rgba(0, 0, 0, 0.5)
		//background rgba(255, 255, 255, 0.5)
		transition .2s ease
		
	&:hover:after
		background transparent
		transition .2s ease
 Конец отключенного инстаграма */
.footer-wrap {
  width: 100%;
  min-height: 150px;
  background: rgba(42,50,55,0.03);
  box-shadow: inset 0px 1px 18px 0px rgba(0,0,150,0.06);
  color: rgba(0,0,0,0.9);
}
.footer {
  width: 1000px;
  min-height: 150px;
  margin: 0px auto 0px auto;
  padding: 40px 20px 0px 20px;
  position: relative;
  font-size: 16px;
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: 350px 39%;
}
.ask {
  width: 500px;
  display: inline-block;
}
.ask .text {
  display: inline-block;
  vertical-align: top;
}
.ask .likely {
  vertical-align: middle;
  margin: 10px 0 0 0;
}
.ask .likely__widget {
  height: 26px;
  padding: 2px 3px 2px 3px;
}
.ask .likely__widget:first-of-type {
  margin: 0 0 0 0;
}
.ask .likely__button {
  padding: 1px 4px 1px 2px;
}
.ask .likely .likely__widget+.likely__widget {
  margin: 0 0 0 10px;
}
.copyright {
  display: inline-block;
  vertical-align: top;
  float: right;
}
.copyright span {
  margin: 0 15px 0 0;
  color: rgba(0,0,0,0.6);
}
.copyright p {
  margin: 10px 0 0 0;
  font-size: 14px;
  color: rgba(0,0,0,0.6);
}
.copyright ul {
  display: inline-block;
}
.copyright ul li {
  display: inline-block;
  margin: 0px 15px 0px 0px;
}
a,
a:visited {
  color: #0072ba;
  text-decoration: none;
  border-bottom: 1px solid rgba(0,114,186,0.3);
  transition: 0.5s ease;
}
a:hover,
a:visited:hover {
  color: #d04000;
  border-color: rgba(208,64,0,0.3);
  transition: 0s ease;
}
a.dark,
a:visited.dark {
  color: #000;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
a.dark:hover,
a:visited.dark:hover {
  color: #d04000;
  border-color: rgba(208,64,0,0.3);
  transition: 0s ease;
}
a.lite,
a:visited.lite {
  color: #fff;
  border-bottom: 1px solid rgba(255,255,255,0.3);
/*&:hover
      color rgba(242, 242, 1, 1)
      border-color rgba(242, 242, 1, .3)
      transition 0s ease*/
}
a.lite:hover,
a:visited.lite:hover {
  color: #d04000;
  border-color: rgba(208,64,0,0.3);
  transition: 0s ease;
}
